* {
  box-sizing: border-box;
}

body, #root {
  margin: 0;
  padding: 0;
  font-family: "Cruinn";
  min-height: 100vh;
  background-color: #0B0B0B;
}

.hoverImg{
  transition: .5s ease;
}

.hoverImg:hover{
  transform: scale(1.15);
}